.main_container {

}

.pontaj_container {

}

.tasks_container {
    display: flex;
    justify-content: space-around;
}

.bonuses_container {
    display: flex;
    justify-content: space-around;
}

.applied_bonuses_container {
    display: flex;
    flex-direction: column;
}

.unapplied_bonuses_container {
    display: flex;
}